* {
  margin: 0;
}
.body {
  display: flex;
  align-items: center;
  background-color: lightblue;
  width: 100vw;
  height: 100px;
  font-size: 25px;
  font-weight: bold;
}

.logo {
  padding-left: 20px;
}
